li.dev-item{
    background: #d7b787;
    box-shadow: o o 14px 0 rgba(0, 0, 0, 0.02);
    border-radius: 10px;
    padding: 20px;
}

li.dev-item header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

li.dev-item header img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

li.dev-item header .user-info{
    margin-left: 10px;
}

.user-info strong{
    display: block;
    font-size: 16px;
    color: #333;
    font-weight: bold;
}

.user-info span{
    font-size: 13px;
    margin-top: 2px;
    color: #333;
}

.dev-item p{
    color: #333;
    font-size: 14px;
    line-height: 20px;
    margin: 10px 0;
}

li.dev-item a{
    color: #393D96;
    text-decoration: none;
    transition: 0.5s;
}

li.dev-item a:hover, li.dev-item a:focus{
    text-shadow: 0 0 10px #FFF;
    color: #395EAD;
}

.icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.iconGithub{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.icon{
    margin: 0 10px;
}